In [ ]:
# https://stackoverflow.com/questions/38918653/pandas-invalid-literal-for-long-with-base-10-error
# https://stackoverflow.com/questions/15325182/how-to-filter-rows-in-pandas-by-regex

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd "C:\sandbox\SMU\dataMining\7331DataMining\EducationDataNC\2017\Raw Datasets"
dfCollege = pd.read_csv("college-enrollment.csv")
dfTeachers = pd.read_csv("personnel.csv")

C:\sandbox\SMU\dataMining\7331DataMining\EducationDataNC\2017\Raw Datasets

In [5]:
# Create a list of columns that are a specific data type
nominal = ['graduation_year', 'unit_code', 'leaname', 'schname', 'status', 'subgroup', 'subgroup_name']
continuous = ['schcount', 'leacount', 'seacount']
ordinal = ['sch_percent_enrolled', 'lea_percent_enrolled', 'sea_percent_enrolled']

# Convert data to correct data type
dfCollege[nominal] = dfCollege[nominal].astype(object)
dfCollege[continuous] = dfCollege[continuous].astype(float)
dfCollege[ordinal] = dfCollege[ordinal].astype(float)

In [6]:
# Only look at the overall total of students that enrolled in college
# The dataset further divides it based on various categories which we can explore later
dfCollegeAll = dfCollege[(dfCollege.subgroup == "ALL") & (dfCollege.status == "ENROLL")]

# Remove schools identified by LEA and SEA unit_codes
# Not sure why this grouping of schools is treated as an invidual school (warrants further investigation)
dfCollegeAll = dfCollegeAll[~dfCollegeAll.unit_code.str.contains('LEA|SEA')]

# Remove schools that didn't report number of students enrolled in college courses (warrents further investigation)
dfCollegeAll = dfCollegeAll[~dfCollegeAll.schcount.isna()]
dfCollegeAll = dfCollegeAll[~dfCollegeAll.leacount.isna()]

In [7]:
dfCollegeAll.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 489 entries, 0 to 12767
Data columns (total 13 columns):
graduation_year         489 non-null object
unit_code               489 non-null object
leaname                 489 non-null object
schname                 489 non-null object
status                  489 non-null object
subgroup                489 non-null object
subgroup_name           489 non-null object
schcount                489 non-null float64
leacount                489 non-null float64
seacount                489 non-null float64
sch_percent_enrolled    489 non-null float64
lea_percent_enrolled    489 non-null float64
sea_percent_enrolled    489 non-null float64
dtypes: float64(6), object(7)
memory usage: 53.5+ KB

In [8]:
dfCollegeAll.describe()

,schcount,leacount,seacount,sch_percent_enrolled,lea_percent_enrolled,sea_percent_enrolled
count,489.000000,489.000000,489.0,489.000000,489.000000,4.890000e+02
mean,102.321063,1148.576687,51362.0,51.284009,51.023298,5.198846e+01
std,80.984473,1486.836354,0.0,12.385215,6.873512,1.778176e-13
min,5.000000,18.000000,51362.0,13.157895,31.428571,5.198846e+01
25%,38.000000,252.000000,51362.0,43.750000,48.443157,5.198846e+01
50%,87.000000,644.000000,51362.0,52.325581,51.403721,5.198846e+01
75%,140.000000,1178.000000,51362.0,59.200000,54.686947,5.198846e+01
max,423.000000,5844.000000,51362.0,89.583333,67.379679,5.198846e+01